<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44934508250-772ba67j7g01gvnnkreqjavv9kvc3lj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44934508250-772ba67j7g01gvnnkreqjavv9kvc3lj6</string>
	<key>API_KEY</key>
	<string>AIzaSyAN6g3Km0Lfy6VmYUSw03FUHk6lCvBcs1w</string>
	<key>GCM_SENDER_ID</key>
	<string>44934508250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MobileApp.ecolyze</string>
	<key>PROJECT_ID</key>
	<string>ecolyze-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>ecolyze-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44934508250:ios:d5b9ce7cf9f2e78fca7fe3</string>
</dict>
</plist>